/* static/style.css */

body {
    background-color: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
}

h1 {
    color: #007acc;
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

/* Pequeña animación para hacerlo más dinámico */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
